<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

    <style>
        .swal2-popup {
            font-size: 0.9rem !important;
        }

        .swal2-zindex {
            z-index: 10000 !important;
        }

        .swal2-container {
            z-index: 20000 !important;
        }
    </style>

<style>
    .lengthMenuWrapper .dataTables_length label {
    display: flex;
    align-items: center;
}

.lengthMenuWrapper .dataTables_length label select {
    margin-left: 10px; /* Adjust the value as needed */
}
    
</style>

    <title>
        Censo Web - {% block title %}{% endblock %}
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <!-- Nucleo Icons -->
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet"/>

{#    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>#}
    <script src="https://kit.fontawesome.com/5c9d5dba7a.js" crossorigin="anonymous"></script>

    <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet"/>
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'assets/css/soft-ui-dashboard.css' %}" rel="stylesheet"/>

    <!-- Colores Corporativos Globales - Aplicación Censo -->
    <link href="{% static 'assets/css/censo-corporate.css' %}" rel="stylesheet"/>

    <link id="pagestyle_dark" href="{% static 'assets/css/dark-theme-core.css' %}" rel="stylesheet"/>

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="g-sidenav-show bg-gray-100 {% if not user.is_authenticated and segment == 'verificacion' %}no-sidebar{% endif %}">

{% if user.is_authenticated or segment != 'verificacion' %}
    {% include "includes/sidebar.html" %}
{% endif %}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg {% if not user.is_authenticated and segment == 'verificacion' %}full-width{% endif %}">

    {% if user.is_authenticated or segment != 'verificacion' %}
        {% include "includes/navigation.html" %}
    {% endif %}

    {% block content %}{% endblock content %}
    {% include "includes/footer.html" %}
    <script src="{% static 'assets/js/sweetalert/sweetalert2@11.js' %}"></script>
    <div class="alert">
    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    icon: '{% if "error" in message.tags %}error{% elif "warning" in message.tags %}warning{% elif "success" in message.tags %}success{% elif "info" in message.tags %}info{% else %}info{% endif %}',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 1700
                })
            </script>
        {% endfor %}
    {% endif %}

</div>
</main>


<!-- Core JS Files -->
{% include "includes/scripts.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
</body>
</html>
