{% extends 'index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}


{% load static %}

{% block title %}
    Censo - Listado
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Listado Censal</li>
{% endblock %}


{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Listado Censal <small>Personas</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <form class="form-inline form-label-left input_mask">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <div class="col-md-3 col-sm-6 col-xs-12 form-group.required has-feedback">
                                            <label class="control-label">Primer Nombre</label>
                                            <input type="text" class="form-control" id="inputSuccess2"
                                                   placeholder="Primer Nombre">
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                                            <label class="control-label">Segundo Nombre</label>
                                            <input type="text" class="form-control " id="inputSuccess2"
                                                   placeholder="Segundo Nombre">
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                                            <label class="control-label">Primer Apellido</label>
                                            <input type="text" class="form-control " id="inputSuccess2"
                                                   placeholder="Primer Apellido">
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                                            <label class="control-label">Segundo Apellido</label>
                                            <input type="text" class="form-control " id="inputSuccess2"
                                                   placeholder="Segundo Apellido">
                                        </div>

                                        <div class="row mt-5">
                                            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                                                {{ form.identification_person|as_crispy_field }}
                                            </div>

                                            <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                                                {{ form.document_type|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}

{% endblock javascripts %}