{% extends 'base_site.html' %}

{% block title %}
    Registrar Censo
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">

                </div>

                <div class="title_right">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="input-group">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ficha Familiar</h2>
                            <ul class="nav navbar-right panel_toolbox">

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.organization_id.label_tag }}
                                            {{ form.organization_id }}
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.address_home.label_tag }}
                                            {{ form.address_home }}
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.sidewalk_home.label_tag }}
                                            {{ form.sidewalk_home }}
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.zone.label_tag }}
                                            {{ form.zone }}
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.latitude.label_tag }}
                                            {{ form.latitude }}
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.longitude.label_tag }}
                                            {{ form.longitude }}
                                        </div>
                                    </div>
                                </div>

                                <div class="x_title" style="margin-top: 25px">
                                    <h2>Cabeza de Familia</h2>
                                    <div class="clearfix"></div>
                                </div>
                                

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.first_name_1.label_tag }}
                                            {{ form.first_name_1 }}
                                        </div>
                                        
                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.first_name_2.label_tag }}
                                            {{ form.first_name_2 }}
                                        </div>
                                        
                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.last_name_1.label_tag }}
                                            {{ form.last_name_1 }}
                                        </div>
                                        
                                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                            {{ form.last_name_2.label_tag }}
                                            {{ form.last_name_2 }}
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}