{% extends 'base_site.html' %}

{% block title %}
    Registrar Censo
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">

                </div>

                <div class="title_right">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="input-group">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ficha Familiar <small> Cabeza Hogar </small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form class="form-horizontal form-label-left input_mask">

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.address_home.label_tag }}
                                    {{ form.address_home }}
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.sidewalk_home.label_tag }}
                                    {{ form.sidewalk_home }}
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.zone.label_tag }}
                                    {{ form.zone }}
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.latitude.label_tag }}
                                    {{ form.latitude }}
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.longitude.label_tag }}
                                    {{ form.longitude }}
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.address_home.label_tag }}
                                    {{ form.address_home }}
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.sidewalk_home.label_tag }}
                                    {{ form.sidewalk_home }}
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.latitude.label_tag }}
                                    {{ form.latitude }}
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6 form-group has-feedback">
                                    {{ form.longitude.label_tag }}
                                    {{ form.longitude }}
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}