{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Detalle Ficha{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/datatable/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/datatable/dataTables.bootstrap5.css' %}">
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 p-4">
                    <h6 class="mb-4">Ficha Familiar</h6>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive">
                            <table id="familyCardDetail"
                                   class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"
                                        style="width: 25%">
                                        Persona
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"
                                        style="width: 10%">
                                        Identificacion
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Parentesco
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Vereda
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-start">
                                        Edad
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-start"
                                        style="width: 7%">
                                        Zona
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-start">
                                        Cabeza de Familia
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for card in familia %}
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{ card.first_name_1 }} {{ card.first_name_2 }} {{ card.last_name_1 }}
                                                        {{ card.last_name_2 }}</h6>
                                                    <p class="text-sm text-secondary mb-0"></p>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{ card.identification_person }}</h6>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    {{ card.kinship.description_kinship }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    {{ card.family_card.sidewalk_home }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    {{ card.calcular_anios }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    {{ card.family_card.zone }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div class="d-flex flex-column justify-content-center">
                                                    {% if card.family_head %}
                                                        <span class="badge my-auto">
                                                            <i class="fa-solid fa-user-check fa-2x text-success"></i>
                                                        </span>
                                                    {% else %}
                                                        <span class="badge my-auto">
                                                        <i class="fa-solid text-secondary fa-user-check fa-2x"></i>
                                                    </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <a href="#" class="btn btn-pinterest btn-xs my-auto"
                                                       title="Generar Aval">
                                                        <i class="fa-regular fa-file-pdf"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>
{% endblock content %}
{% block javascripts %}
    <script src="{% static 'assets/js/datatable/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'assets/js/datatable/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/datatable/dataTables.js' %}"></script>
    <script src="{% static 'assets/js/datatable/dataTables.bootstrap5.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#familyCardDetail').DataTable({
                'language': {
                    'url': '{% static 'assets/js/datatable/es-CO.json' %}'
                },
                order: [[1, 'asc']],
                columns: [
                    {data: 'persona', searchable: true, orderable: false},
                    {data: 'identificacion', searchable: true, orderable: false},
                    {data: 'parentesco', searchable: false, orderable: false},
                    {data: 'vereda', searchable: false, orderable: false},
                    {data: 'edad', searchable: false, orderable: false},
                    {data: 'zona', searchable: false, orderable: false},
                    {data: 'cabeza_familia', searchable: false, orderable: false},
                    {data: 'acciones', searchable: false, orderable: false}
                ],
                responsive: true,
                pagingType: "full_numbers",
                lengthMenu: [5, 10, 25, 50],
                pageLength: 10,
                createdRow: function (row) {
                    $(row).addClass('text-xs');
                    $('td', row).addClass('text-start');
                }
            });
        });
    </script>
{% endblock javascripts %}