{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Censo - Listado{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Núcleo Familiar</h6>
                    </div>
                    <hr class="horizontal dark">
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="family_card" class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Persona
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Identificación
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Parentesco
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Vereda
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Edad
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Zona
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for card in familia %}

                                    <tr class="px-3">
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">
                                                {{ card.first_name_1 }} {{ card.first_name_2 }} {{ card.last_name_1 }}
                                                {{ card.last_name_2 }}</p>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">
                                                {{ card.identification_person }}
                                            </p>
                                        </td>

                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">
                                                {{ card.kinship.description_kinship }}
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">
                                                {{ card.family_card.sidewalk_home }}
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">
                                                {{ card.calcular_anios }}
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">
                                                {{ card.family_card.zone }}
                                            </p>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-info btn-xs btn-round" title="aval"><i
                                                    class="fas fa-file-archive"></i> </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
    <script>
        const datatablesSimple = document.getElementById('family_card');
        if (datatablesSimple) {
            new simpleDatatables.DataTable(datatablesSimple, {
                'language': {
                    'url': 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                },
            });
        }
    </script>
{% endblock javascripts %}