{% extends 'base_site.html' %}
{% load static %}

{% block title %}
    Censo - Listado
{% endblock title %}

{% block stylesheets %}
	{{ block.super }}
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Listado Censal</li>
{% endblock %}


{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Listado Censal</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{% url 'createFamilyCard' %}" class="btn btn-primary">Nuevo</a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="family_card" class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>N° Ficha</th>
                                            <th>Persona</th>
                                            <th>Identificación</th>
                                            <th>Vereda</th>
                                            <th>Zona</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for card in family_cards %}
                                            
                                                <tr>
                                                    <td>{{ card.family_card.family_card_number }}</td>
                                                    <td>{{ card.first_name_1 }} {{ card.first_name_2 }} {{ card.last_name_1 }} {{ card.last_name_2 }}</td>
                                                    <td>{{ card.identification_person }}</td>
                                                    <td>{{ card.family_card.sidewalk_home }}</td>
                                                    <td>{{ card.family_card.zone }}</td>
                                                    <td>
                                                        <a href="" class="btn btn-info btn-xs">Editar</a>
                                                        <a href="#" onclick="registrarPersonas({{ card.id }})" class="btn btn-dark btn-xs">Registrar</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
        <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
        <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
        <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
        <script>
        function registrarPersonas(id) {
            Swal.fire({
                "title": "Registrar Personas",
                "text": "¿Desea registrar personas para esta vivienda?",
                "icon": "question",
                "showCancelButton": true,
                "confirmButtonText": "Si, registrar",
                "cancelButtonText": "Cancelar",
                "reverseButtons": true,
                "confirmButtonColor": "#1ABB9C",
                "cancelButtonColor": "#B4B4B8"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "#";
                }
            });
        }
    </script>
{% endblock javascripts %}