{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="{% static 'assets/css/datatable/bootstrap.min.css' %}" />
    <link href="{% static 'assets/css/datatable/dataTables.bootstrap5.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Fichas Familiares</h6>
                    </div>
                    <hr class="horizontal dark">
                    <div class="card-body px-4 pt-0 pb-2">
                        <div class="table-responsive p-0 mb-4">
                            <table class="table align-items-center mb-0" id="familycard">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">N°
                                    </th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">
                                        Cabeza de Familia
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Identificación
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Vereda
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Zona
                                    </th>
                                    
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer-fullscreen.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="{% static 'assets/js/datatable/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'assets/js/datatable/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/datatable/dataTables.js' %}"></script>
    <script src="{% static 'assets/js/datatable/dataTables.bootstrap5.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    new DataTable('#familycard', {
        ajax: "{% url 'familycards' %}",  // Ajusta el nombre de la URL según tu configuración de URL
        processing: true,
        serverSide: true,
        columns: [
            {data: "family_card_number", name: "family_card_number"},
            {data: "first_name_1", name: "first_name_1"},
            {data: "identification_person", name: "identification_person"},
            {data: "sidewalk_home", name: "sidewalk_home"},
            {data: "zone", name: "zone"},
        ],
    });
</script>


{% endblock javascripts %}