{% load static %}
<footer class="footer py-5">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="https://wa.me/3117009855" target="_blank" class="text-secondary me-xl-4 me-4" title="Enviar WhatsApp">
            <span class="text-lg fab fa-whatsapp"></span>
          </a>
          <a href="mailto:webcenso@gmail.com" target="_blank" class="text-secondary me-xl-4 me-4" title="Enviar Correo">
            <span class="text-lg fab fa-google"></span>
          </a>
          
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            &reg; Desarrollado por: Luis Gabriel Quira Mazabuel.
          </p>
        </div>
      </div>
    </div>
  </footer>
  