{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Comuneros {% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/datatable/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/datatable/dataTables.bootstrap5.css' %}">
    <style>
        .btn-container { display: flex; gap: 6px; justify-content: center; }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-2 p-4">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="p-2 mb-0">Listado de Personas</h6>
                    </div>
                    <div class="col text-end">
                        <a href="#" class="btn btn-linkedin mt-2">
                            <i class="fas fa-plus"></i> Nueva Persona
                        </a>
                    </div>
                </div>
                <hr class="horizontal dark">
                <div class="card-body px-4 pt-0 pb-2">
                    <div class="card p-4">
                        <div class="table-responsive">
                        <table class="table table-sm table-hover align-items-center mb-0 display compact w-100" id="person">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7">Nombres y Apellidos</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7">Fecha Nacimiento</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7">Edad</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7">Género</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7">Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
</div>
{% endblock content %}
{% block javascripts %}
    <script src="{% static 'assets/js/datatable/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'assets/js/datatable/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/datatable/dataTables.js' %}"></script>
    <script src="{% static 'assets/js/datatable/dataTables.bootstrap5.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#person').DataTable({
                ajax:{
                    url: "{% url 'json_personas' %}",
                    type: "GET",
                    dataSrc: "data"
                },
                serverSide: true,
                processing: true,
                columns: [
                    {data: null, name: "first_name_1", render: function (data, type, row) {
                            return `${row.first_name_1} ${row.first_name_2} ${row.last_name_1} ${row.last_name_2}
                            <p class="text-xs text-secondary mb-0">${row.document_type__code_document_type } - ${row.identification_person}</p>`;

                        }
                    },
                    {data: "date_birth", name: "date_birth", orderable: false, searchable: false, render: function (data, type, row) {
                        if (data) {
                            const date = new Date(data);
                            const day = String(date.getDate()).padStart(2, '0');
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const year = date.getFullYear();
                            return `<span class="text-secondary text-center d-block">${day}/${month}/${year}</span>`;
                        }
                        return '<span class="text-secondary text-center d-block"></span>';
                    }},
                    {data: "age", name: "age", searchable: false, orderable: false},
                    {data: "gender", name: "gender", searchable: false, orderable: false},
                    {data: null,
                        name: "options",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, row) {
                            return `
                            <div class="btn-container">
                                <button class="btn btn-icon btn-facebook" type="button" onclick="editRecord(${row.id})" title="Editar">
                                    <span class="btn-inner--icon"><i class="fa-solid fa-pen-to-square"></i></span>
                                </button>
                            </div>
                            `;
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: [0, 1, 2, 3],
                        width: "20%",
                        target: "_all",
                    }
                ],
                "language": {
                    "url": "{% static 'assets/js/datatable/es-CO.json' %}"
                },
                responsive: true,
                pagingType: "full_numbers",
                lengthMenu: [5, 10, 25, 50],
                pageLength: 10,
                createdRow: function (row, data, dataIndex) {
                    $(row).addClass('text-sm');
                    $('td', row).addClass('text-start');
                }
            });
            editRecord = (id) => {
                window.location.href = "{% url 'updated-person' 0 %}".replace('0', id);
            }
        });
    </script>
{% endblock javascripts%}