{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Comuneros {% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/datatable/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/datatable/dataTables.bootstrap5.css' %}">
    <style>
        .btn-container { display: flex; gap: 6px; justify-content: center; }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="card mb-2 p-4">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="p-2 mb-0">Listado de Personas</h6>
                    </div>
                    <div class="col text-end">
                        <a href="#" class="btn btn-linkedin mt-2">
                            <i class="fas fa-plus"></i> Nueva Persona
                        </a>
                    </div>
                </div>
                <hr class="horizontal dark">
                <div class="card-body px-4 pt-0 pb-2">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover align-items-center align-middle mb-0 display compact w-100" id="person">
                            <thead class="table-light mt-5">
                                <tr>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7" style="width: 30%">Nombres y Apellidos</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7" style="width: 10%">Fecha Nacimiento</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7" style="width: 10%">Edad</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7" style="width: 10%">Género</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7" style="width: 15%">Ficha Familiar</th>
                                    <th class="text-uppercase text-secondary text-center text-sm font-weight-bolder opacity-7">Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <hr class="my-4 horizontal dark">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
</div>
{% endblock content %}
{% block javascripts %}
    <script src="{% static 'assets/js/datatable/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'assets/js/datatable/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/datatable/dataTables.js' %}"></script>
    <script src="{% static 'assets/js/datatable/dataTables.bootstrap5.js' %}"></script>
    <script>
        const PERSONAS_JSON_URL = "{% url 'json_personas' %}";
        const DATATABLE_LANG_URL = "{% static 'assets/js/datatable/es-CO.json' %}"
        const UPDATED_PERSON_URL = "{% url 'updated-person' 0 %}";
        const DETAIL_PERSON_URL = "{% url 'detail-person' 0 %}";
    </script>
    <script src="{% static 'assets/js/censo/persons/datatable-person.js' %}"></script>

{% endblock javascripts%}